[Desktop Entry]
Name=WhatsApp
Exec=brave --app=https://web.whatsapp.com
Icon=whatsapp
Type=Application
Categories=WebBrowser;Network;
StartupNotify=true
Name[en_US.utf-8]=WhatsApp
X-GNOME-FullName[en_US.utf-8]=WhatsApp
Comment[en_US.utf-8]=
NoDisplay=false
Path=
Terminal=false
X-GNOME-UsesNotifications=true
