[Desktop Entry]
Name=WhatsApp
Exec=brave --app=https://web.whatsapp.com
Icon=/home/ciocco/.local/share/icons/user/whatsapp.svg
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
